<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver</title>
    <link rel="stylesheet" href="static/css/style-simple.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body class="blue-background">

{% include 'navbar-header.html' %}

<div class="container" style="padding-top: 15rem">
    <div class="white-font">
        <h2 class="text-align-center">Driver details for: {{ driver_details[0] }}</h2>
    </div>
    <div class="white-font text-align-center" style="margin-top: 5rem">
        <h3>First Name: {{ driver_details[1] }}</h3>
        <br>
        <br>
        <h3>Last Name: {{ driver_details[2] }}</h3>
        <br>
        <br>
        <h3>Rating: {{ driver_details[3] }}</h3>
        <br>
        <br>
        <h3>Past Comments:</h3>
        <br>
        {% for comment in comments %}
            <h5>"{{ comment[0] }}"</h5>
        {% endfor %}
    </div>
</div>
</body>
</html>