<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style-simple.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body class="blue-background">
{% include 'navbar-header.html' %}
<div class="main-content" style="padding-top: 10rem">
    <div class="container">
        <div class="search white-font text-align-center">
            <h3>Where to?</h3>
            <form class="form-inline md-form form-sm">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                       aria-label="Search">
                <i class="fas fa-search" aria-hidden="true"></i>
            </form>
        </div>
    </div>
    <div>
        <div class="error-summary errorMessage">
            {% for error in form.no_passengers.errors %}
                <h4> Error in your number of passengers: {{ error }} </h4>
            {% endfor %}
            {% for error in form.price.errors %}
                <h4> Error in your bidding price: {{ error }} </h4>
            {% endfor %}
        </div>
    </div>
    <div class="container" style="padding-top: 5rem">
        <div class="advertisement-list white-font">
            <h3 class="text-align-center">Current rides available:</h3>
            <br>
            <table class="table table-sm table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Posted At</th>
                    <th scope="col">Depart At</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Pick up</th>
                    <th scope="col">Destination</th>
                    <th scope="col"># Spots</th>
                    <th scope="col">Highest Bid ($S)</th>
                    <th scope="col">Number of Bidders</th>
                    <th scope="col">Time Remaining</th>
                    <th scope="col">Bid</th>
                </tr>
                </thead>
                <tbody>
                {% for ad in ad_list %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ ad[0] }}</td>
                        <td>{{ ad[1] }}</td>
                        <td>{{ ad[2] }}</td>
                        <td>{{ ad[3] }}</td>
                        <td>{{ ad[4] }}</td>
                        <td>{{ ad[5] }}</td>
                        <td>{{ ad[6] }}</td>
                        <td>{{ ad[7] }}</td>
                        <td>{{ ad[8] }}</td>
                        <td>
                            <button type="button" class="btn btn-outline-dark bid-button" data-did="{{ ad[2] }}"
                                    data-dateposted="{{ ad[0] }}" data-maxPax="{{ ad[5] }}"
                                    onclick="makeBid('{{ ad[2] }}', '{{ current_user.username }}', '{{ ad[0] }}', '{{ ad[5] }}')">Bid
                            </button>
                            <script>
                                function makeBid(did, pid, datePosted, maxPax) {
                                    if (did === pid) {
                                        alert("You can't bid for yourself!");
                                    }
                                    else {
                                        $('#bid-modal').modal({
                                            show: true
                                        });

                                        // Setting the hidden value so that the other HTML can use
                                        $("input[name=hidden_did]").val(did);
                                        $("input[name=hidden_dateposted]").val(datePosted);
                                        $("input[name=hidden_maxPax]").val(maxPax);
                                    }
                                }
                            </script>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="bid-list white-font">
            <h3 class="text-align-center">You bidded for:</h3>
            <br>
            <table class="table table-sm table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Posted At</th>
                    <th scope="col">Depart At</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Pick up</th>
                    <th scope="col">Destination</th>
                    <th scope="col"># Passengers</th>
                    <th scope="col">Your Bid ($S)</th>
                    <th scope="col">Bid Status</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for bid in bid_list %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ bid[0] }}</td>
                        <td>{{ bid[1] }}</td>
                        <td>{{ bid[2] }}</td>
                        <td>{{ bid[3] }}</td>
                        <td>{{ bid[4] }}</td>
                        <td>{{ bid[5] }}</td>
                        <td>{{ bid[6] }}</td>
                        <td>{{ bid[7] }}</td>
                        <td>
                            <button type="button" class="btn delete-button" 
                            onclick="deleteBid('{{ bid[2] }}', '{{ bid[0] }}')">Delete</button>
                            <script>
                                function deleteBid(driverID, datePosted) {
                                    if (confirm("Are you sure to delete the bid?")) {
                                        $.ajax({
                                            type: "POST",
                                            url: "/delete_bid",
                                            data: {driver_id: driverID, dateposted: datePosted},
                                            dataType: "text",
                                            success: function(data) {
                                                alert("Successfully removed bid.");
                                                location.reload();
                                            }
                                        });
                                    }
                                }
                            </script>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{# Pop out box for bidding #}
<div class="modal fade" id="bid-modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Bid Submission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="bid-form" method="post" action="/">
                    {{ form.csrf_token }}

                    {{ form.hidden_did }}
                    {{ form.hidden_dateposted }}
                    {{ form.hidden_maxPax }}

                    <div class="formField" style="color: black">
                        {{ form.price }}
                        {% if form.price.errors %}
                            <div class="errorMessage">
                                {% for error in form.price.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="formField" style="color: black">
                        No of passengers:
                        {{ form.no_passengers }}
                        {% if form.no_passengers.errors %}
                            <div class="errorMessage">
                                {% for error in form.no_passengers.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn accept-button" id="confirmBidButton">Confirm Bid
                </button>
            </div>
            <script>
                $("#confirmBidButton").on('click', function () {
                    $(".bid-form").submit();
                });
            </script>
        </div>
    </div>
</div>
</body>
</html>