<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scheduled Rides</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style-simple.css">
</head>
<body>

<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TumpangMePlease</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/create-advertisement">Share a ride</a></li>
            <li><a href="/view-advertisement">View my advertisements</a></li>
            <li><a href="/scheduled">Scheduled rides</a></li>
        </ul>
        <div class="white-font welcome-message">
            Welcome back, {{ current_user.first_name }}!
            <a href="/logout" style="text-decoration: underline">Logout here</a>
        </div>
    </div>
</nav>