<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create an advertisement</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style-simple.css">
    <link rel="stylesheet" href="jquery.datetimepicker.min.css">
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body class="blue-background">

{% include 'navbar-header.html' %}
{# if the user does not have a car yet, include the driver registration page #}
{# else show the create advertisement list #}

<div class="container" style="padding-top: 5rem">
    <div class="bid-list white-font">
        <h3 class="text-align-center">Advertisements Listed:</h3>
        <br>
        <table class="table table-sm table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date Posted</th>
                <th scope="col">Departing At</th>
                <th scope="col">Pick up</th>
                <th scope="col">Destination</th>
                <th scope="col">Highest Bid ($S)</th>
                <th scope="col">Number of Bidders</th>
                <th scope="col">Time Remaining</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
			{% for things in driver_ad_list %}
				<tr>
					<th scope="row">{{ loop.index }}</th>
					<td>{{ things[0] }}</td>
					<td>{{ things[1] }}</td>
					<td>{{ things[2] }}</td>
					<td>{{ things[3] }}</td>
					<td>{{ things[4] }}</td>
					<td>{{ things[5] }}</td>
					<td>{{ things[6] }}</td>
                <td>
                    <button type="button" class="btn delete-button">Delete</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="bid-list white-font">
        <h3 class="text-align-center">List of bids for your advertisements:</h3>
        <br>
        <table class="table table-sm table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Advertisement Posted At</th>
                <th scope="col">Passenger Username</th>
                <th scope="col">Bid ($S)</th>
                <th scope="col"># Passengers</th>
                <th scope="col">Accept Offer?</th>
            </tr>
            </thead>
            <tbody>
            <tbody>
			{% for things in driver_bid_list %}
				<tr>
					<th scope="row">{{ loop.index }}</th>
					<td>{{ things[0] }}</td>
					<td>{{ things[1] }}</td>
					<td>{{ things[2] }}</td>
					<td>{{ things[3] }}</td>
                <td>
                    <button type="button" class="btn accept-button">Accept</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>